In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

# https://www.abc.es/ciencia/abci-cual-probabilidad-real-ataque-tiburon-201902272030_noticia.html

In [2]:
csvRoute= "../GSAF5.csv"
df = pd.read_csv(csvRoute, encoding='iso-8859-1')
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [3]:
len(df.columns)

24

In [4]:
colsInWeb=['Case Number','Date','Year','Type','Country','Area','Location',
           'Activity','Name','Sex','Age','Injury','Fatal (Y/N)','Time','Species','Investigator or Source']

len(colsInWeb)

16

In [5]:
# Borrar columnas que no necesito
df = df.drop(['pdf', 'href formula', 'href','Case Number.1', 'Case Number.2', 'Unnamed: 22','Unnamed: 23', 'original order'], axis=1)
df_column_list = df.columns.tolist()
len(df_column_list)

16

In [6]:
# Eliminar aÃ±os no deseados.

df =df[(df['Year']<2016) & (df['Year']>=1960)]

In [7]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
103,2015.12.26,26-Dec-15,2015,Boat,SOUTH AFRICA,KwaZulu-Natal,Westbrook Beach,Kayak Fishing,Occupant: Grant Wardell,M,NaN,"No injury, kayak damaged",N,Morning,"White shark, 3 m","Traveller24, 12/26/2015"
104,2015.12.25,25-Dec-15,2015,Unprovoked,SPAIN,Grand Canary Island,"Arinaga Beach, Aguimes, Gran Canaria",Swimming,Cristina Ojeda-Thies,F,38,Lacerations to left forearm,N,NaN,"Silky shark, 6.5'","Diaro de Visos, 12/26/2015"
105,2015.12.22,22-Dec-15,2015,Unprovoked,USA,Hawaii,La'aloa Beach Park,Paddle boarding,Robert Ford,M,71,"No injury, shark bit board",N,Morning,9' shark,"West Hawaii Today, 12/23/2015"
106,2015.12.21.b,21-Dec-15,2015,Unprovoked,AUSTRALIA,New South Wales,Bondi Beach,Surfing,Dean Norburn,M,43,"No injury, shark leapt on surfboard",N,07h00,"Bronze whaler shark, 6'","The Telegraph, 12/22/;2015"
107,2015.12.21.a,21-Dec-15,2015,Unprovoked,BRAZIL,Pernambuco,Fernano de Noronha,Scuba diving,MÃ¡rcio de Castro Palma,M,32,Right hand & part of forearm removed,N,NaN,"Tiger shark, 1.5 m","Fox News, 12/22/2015"

In [8]:
col_descartadas=['Case Number','Type','Name','Sex','Species','Investigator or Source']

# Un error que se puede encontrar son los espacios en el nombre de las columnas.
df_descartado= df[col_descartadas]

KeyError: "['Sex', 'Species'] not in index"

In [9]:
df_column_list = [c.strip() for c in df_column_list]
df.columns = df_column_list
df_descartado= df[col_descartadas]
df_descartado.head()

,Case Number,Type,Name,Sex,Species,Investigator or Source
103,2015.12.26,Boat,Occupant: Grant Wardell,M,"White shark, 3 m","Traveller24, 12/26/2015"
104,2015.12.25,Unprovoked,Cristina Ojeda-Thies,F,"Silky shark, 6.5'","Diaro de Visos, 12/26/2015"
105,2015.12.22,Unprovoked,Robert Ford,M,9' shark,"West Hawaii Today, 12/23/2015"
106,2015.12.21.b,Unprovoked,Dean Norburn,M,"Bronze whaler shark, 6'","The Telegraph, 12/22/;2015"
107,2015.12.21.a,Unprovoked,MÃ¡rcio de Castro Palma,M,"Tiger shark, 1.5 m","Fox News, 12/22/2015"

In [10]:
col_estudio = [c for c in df_column_list if c not in df_descartado]
df_estudio= df[col_estudio]
df_estudio.head()

,Date,Year,Country,Area,Location,Activity,Age,Injury,Fatal (Y/N),Time
103,26-Dec-15,2015,SOUTH AFRICA,KwaZulu-Natal,Westbrook Beach,Kayak Fishing,NaN,"No injury, kayak damaged",N,Morning
104,25-Dec-15,2015,SPAIN,Grand Canary Island,"Arinaga Beach, Aguimes, Gran Canaria",Swimming,38,Lacerations to left forearm,N,NaN
105,22-Dec-15,2015,USA,Hawaii,La'aloa Beach Park,Paddle boarding,71,"No injury, shark bit board",N,Morning
106,21-Dec-15,2015,AUSTRALIA,New South Wales,Bondi Beach,Surfing,43,"No injury, shark leapt on surfboard",N,07h00
107,21-Dec-15,2015,BRAZIL,Pernambuco,Fernano de Noronha,Scuba diving,32,Right hand & part of forearm removed,N,NaN

In [11]:
# Renombrar una/s columna:
df_estudio = df_estudio.rename(columns={'Fatal (Y/N)':'Deadly'})
df_estudio.head()

,Date,Year,Country,Area,Location,Activity,Age,Injury,Deadly,Time
103,26-Dec-15,2015,SOUTH AFRICA,KwaZulu-Natal,Westbrook Beach,Kayak Fishing,NaN,"No injury, kayak damaged",N,Morning
104,25-Dec-15,2015,SPAIN,Grand Canary Island,"Arinaga Beach, Aguimes, Gran Canaria",Swimming,38,Lacerations to left forearm,N,NaN
105,22-Dec-15,2015,USA,Hawaii,La'aloa Beach Park,Paddle boarding,71,"No injury, shark bit board",N,Morning
106,21-Dec-15,2015,AUSTRALIA,New South Wales,Bondi Beach,Surfing,43,"No injury, shark leapt on surfboard",N,07h00
107,21-Dec-15,2015,BRAZIL,Pernambuco,Fernano de Noronha,Scuba diving,32,Right hand & part of forearm removed,N,NaN

In [12]:
# Reordenar columnas:
col_est_orden= ['Date','Year','Time','Country','Area','Location', 'Injury','Deadly', 'Age', 'Activity']
df_est_orden= df_estudio[col_est_orden]
df_est_orden.head()

,Date,Year,Time,Country,Area,Location,Injury,Deadly,Age,Activity
103,26-Dec-15,2015,Morning,SOUTH AFRICA,KwaZulu-Natal,Westbrook Beach,"No injury, kayak damaged",N,NaN,Kayak Fishing
104,25-Dec-15,2015,NaN,SPAIN,Grand Canary Island,"Arinaga Beach, Aguimes, Gran Canaria",Lacerations to left forearm,N,38,Swimming
105,22-Dec-15,2015,Morning,USA,Hawaii,La'aloa Beach Park,"No injury, shark bit board",N,71,Paddle boarding
106,21-Dec-15,2015,07h00,AUSTRALIA,New South Wales,Bondi Beach,"No injury, shark leapt on surfboard",N,43,Surfing
107,21-Dec-15,2015,NaN,BRAZIL,Pernambuco,Fernano de Noronha,Right hand & part of forearm removed,N,32,Scuba diving

In [13]:
df_est_orden.shape

(3705, 10)

In [14]:
# Nulos
col_w_nulls= df_est_orden.isnull()
col_w_nulls.sum().sort_values(ascending=False)

Time        1483
Age         1132
Activity     256
Location     222
Area         176
Injury        14
Country       11
Deadly         4
Year           0
Date           0
dtype: int64

In [15]:
df_est_orden.dtypes

Date        object
Year         int64
Time        object
Country     object
Area        object
Location    object
Injury      object
Deadly      object
Age         object
Activity    object
dtype: object

In [16]:
# Rellenar los na con 'NoData'
df_est_orden['Age']=df_est_orden['Age'].fillna('NoData')

In [17]:
# Age no me cuadra que sea objeto, quiero int o float. Voy a analizarlo.
df_est_orden['Age'].value_counts()

NoData                     1132
20                          104
17                          104
16                          102
19                          101
15                           97
18                           94
24                           92
21                           87
22                           84
25                           80
14                           73
29                           62
26                           62
27                           62
28                           62
13                           60
32                           57
30                           57
23                           55
35                           53
12                           48
10                           43
31                           42
40                           38
34                           36
33                           35
43                           35
36                           33
38                           33
                           ...
28 & 26                       1
21, 34,24 & 35                1
1                             1
73                            1
Elderly                       1
mid-30s                       1
Ca. 33                        1
>50                           1
60's                          1
16 to 18                      1
18 months                     1
9 & 12                        1
87                            1
32 & 30                       1
Â                              1
23 & 20                       1
46 & 34                       1
21 or 26                      1
7      &    31                1
12 or 13                      1
84                            1
Teens                         1
3                             1
50s                           1
37, 67, 35, 27,  ? & 27       1
28, 23 & 30                   1
adult                         1
21 & ?                        1
18 or 20                      1
36 & 26                       1
Name: Age, Length: 123, dtype: int64

In [18]:
# Veo que hay valores alfa no deseados, voy a tratarlos.
def solo_numeros(valor):
    pat= '[^0-9]*'
    numero= re.sub(pat,"",valor)
    if len(numero)>2: numero= numero[:2]
    return numero

# A apply se le envÃ­a la funcion, directamente. apply ya envÃ­a el valor uno por uno.
# Es como decir, aplica cambios con esta funciÃ³n.
dFrame= df_est_orden
dFrame['Age'] = dFrame['Age'].apply(solo_numeros)
dFrame

,Date,Year,Time,Country,Area,Location,Injury,Deadly,Age,Activity
103,26-Dec-15,2015,Morning,SOUTH AFRICA,KwaZulu-Natal,Westbrook Beach,"No injury, kayak damaged",N,,Kayak Fishing
104,25-Dec-15,2015,NaN,SPAIN,Grand Canary Island,"Arinaga Beach, Aguimes, Gran Canaria",Lacerations to left forearm,N,38,Swimming
105,22-Dec-15,2015,Morning,USA,Hawaii,La'aloa Beach Park,"No injury, shark bit board",N,71,Paddle boarding
106,21-Dec-15,2015,07h00,AUSTRALIA,New South Wales,Bondi Beach,"No injury, shark leapt on surfboard",N,43,Surfing
107,21-Dec-15,2015,NaN,BRAZIL,Pernambuco,Fernano de Noronha,Right hand & part of forearm removed,N,32,Scuba diving
108,19-Dec-15,2015,NaN,ARUBA,NaN,Boat capsized,FATAL,Y,58,Sea disaster
109,13-Dec-15,2015,10h30,AUSTRALIA,New South Wales,Lake Macquarie,"No injury, shark rammed boat & bit motor",N,,Fishing
110,11-Dec-15,2015,NaN,BAHAMAS,NaN,Off Andros Island,"Bitten on thigh, abdomen & hand",N,26,Lobster fishing
111,08-Dec-15,2015,Morning,SOUTH AFRICA,Eastern Cape Province,Mpande,Lacerations to both hands and forearms,N,22,Swimming / Wading
112,16-Nov-15,2015,Afternoon,USA,Florida,"Playalinda Beach, Brevard County",Right heel injured,N,,Surfing
113,15-Nov-15,2015,Morning,USA,Florida,"Palm Beach, Palm Beach County",Leg injured,N,,Swimming
114,15-Nov-15,2015,NaN,USA,Florida,"Ocean Reef Park, Singer Island, Palm Beach County",Lacerations to hand,N,28,Surfing
115,10-Nov-15,2015,18h15,AUSTRALIA,New South Wales,East Ballina,Injury to left thigh,N,20,Surfing
116,07-Nov-15,2015,11h00,USA,Florida,"Paradise Beach, Melbourne, Brevard County",Lower left leg injured,N,9,Surfing
117,03-Nov-15,2015,11h00,USA,Hawaii,"Kehena Beach, Hawaii",Laceration to right ankle,N,54,Swimming
118,01-Nov-15,2015,14h00,USA,Florida,"Cocoa Beach, Brevard County",Injury to right ankle/calf & hand,N,28,Wading
119,01-Nov-15,2015,04h00,MOZAMBIQUE,Inhambane Province,Maxixe,"Arms severely injured, surgically amputated",N,19,Fishing
120,30-Oct-15,2015,NaN,AUSTRALIA,Western Australia,Bald Island,Minor injury,N,50,Spearfishing
121,28-Oct-15,2015,14h50,USA,Hawaii,"Malaka, Oahu","Lacerations & puncture wounds to right thigh, ...",N,10,Body boarding
122,25-Oct-15,2015,15h00,SOUTH AFRICA,Western Cape Province,Stil Bay,"Lacerations to right calf, knee & hip",N,42,Surfing
123,21-Oct-15,2015,14h30,USA,Florida,"Playalinda Beach, Brevard County",Lacerations to left hand,N,21,Surfing
124,19-Oct-15,2015,13h50,USA,Florida,"Deerfield Beach, Broward County",Left foot bitten,N,21,Surfing
125,17-Oct-15,2015,NaN,MOZAMBIQUE,Inhambane Province,"Nahaduga, Inhambane Bay",FATAL,Y,35,Fishing for shrimp
126,17-Oct-15,2015,19h20,USA,Hawaii,"Waikiki,",Left foot bitten by eel,N,32,Surfing
127,17-Oct-15,2015,11h30,USA,Hawaii,"Lanikai Beach, Kailua, Oahu",Injuries to lower legs,N,44,Swimming
128,13-Oct-15,2015,11h00,USA,California,"Off Leffingwell Landing, San Luis Obispo County","No injury, shark rammed kayak repeatedly",N,,Kayak Fishing
129,09-Oct-15,2015,16h20,USA,South Carolina,"Shipyard Beach Club, Hilton Head Island, Beauf...",Laceration to forearm,N,9,Boogie boarding
130,09-Oct-15,2015,10h25,USA,Hawaii,"Leftovers, Oahu","Left leg severed below the knee, defense injur...",N,25,Surfing
131,08-Oct-15,2015,NaN,MOZAMBIQUE,Inhambane Province,"Maxixe, Inhambane Bay","Arm severely injured, surgically amputated",N,,Fishing
132,07-Oct-15,2015,16h50,AUSTRALIA,Western Australia,Pyramids Beach,Foot injured,N,18,Surfing
...,...,...,...,...,...,...,...,...,...,...
3778,Apr-60,1960,NaN,FIJI,Vanua Levu,Off the Bua coast,"FATAL, legs bitten",Y,,Fishing in shoulder-deep water
3779,Apr-60,1960,NaN,PHILIPPINES,Luzon Island,Bataan,"FATAL, due to drowning PROVOKED INCIDENT",Y,,"Fishing, hooked shark towed boat out to sea, s..."
3780,Apr-60,1960,NaN,SOUTH AFRICA,Western Cape Province,Saldanha Bay,Shark rammed boat & bit transom,N,,Fishing
3781,31-Mar-60,1960,12h00,USA,Florida,"Off Boca Raton Hotel & Club, Boca Raton, Palm ...","Ankle bitten, hand injured while striking shark",N,42,Treading water
3782,28-Mar-60,1960,12h00,GUAM,NaN,NaN,Thigh bitten,N,44,"Spearfishing, carrying fish on belt"
3783,29-Feb-60,1960,Night,AUSTRALIA,Tasmania,Ralph Bay,"No injury, Robertson knocked over & Hasler bru...",N,30,"Wading, fishing for flounder"
3784,27-Feb-60,1960,NaN,NEW ZEALAND,North Island,"Mangawhai, near Wellsford","No injury, leg bumped by shark's tail",N,22,Spearfishing
3785,27-Feb-60,1960,08h00,USA,Hawaii,"Between Keawakapu & Makena, Maui",Left forearm lacerated,N,36,Spearfishing
3786,24-Feb-60,1960,NaN,SENEGAL,Casamance,Ziguinchor,Calf bitten by shark caught in net PROVOKED IN...,N,,Fishing
3787,19-Feb-60,1960,NaN,PAPUA NEW GUINEA,Central Province,"Tupuselei Village, about 40 miles east of Port...","FATAL, legs bitten",Y,26,Spearfishing
3788,10-Feb-60,1960,NaN,AUSTRALIA,New South Wales,Near Bondi Beach,No injury to occupants. Hooked shark rammed bo...,N,,Shark fishing
3789,07-Feb-60,1960,NaN,AUSTRALIA,New South Wales,Wattamolla National Park,"No injury, speared shark towed Gilles 200 yard...",N,20,Spearfishing
3790,03-Feb-60,1960,02h00,USA,Hawaii,Maui,"Of crew of 4, only 1 person survived (broken l...",Y,,S2F-1 airplane crashed immediately after carri...
3791,30-Jan-60,1960,NaN,PAPUA NEW GUINEA,Madang (WO),"Off Taludig Village, at mouth of the Murnass R...","Lower left leg bitten, surgically amputated",N,,NaN
3792,26-Jan-60,1960,NaN,NaN,"Between Timor & Darwin, Australia",NaN,"As searchers approached wreckage, sharks circl...",N,,Portuguese Airliner with 9 people aboard went ...
3793,21-Jan-60,1960,NaN,AUSTRALIA,South Australia,Millicent,"No injury to occupants, shark lifted boat",N,,NaN
3794,16-Jan-60,1960,15h30,AUSTRALIA,New South Wales,"Just below Roseville Bridge, opposite Killarne...","FATAL, right leg severed above knee, surgicall...",Y,13,Free diving
3795,13-Jan-60,1960,P.M.,AUSTRALIA,Western Australia,Geraldton,Upper leg bitten PROVOKED INCIDENT,N,,"Fishing, lifting shark out of craypot"
3796,07-Jan-60,1960,09h00,AUSTRALIA,Tasmania,Eaglehawk Neck,"No injury to occupant, shark rammed boat",N,,Setting crayfish pots
3797,01-Jan-60,1960,NaN,SOUTH AFRICA,Western Cape Province,Muizenberg,Left leg bitten by shark that escaped net PRO...,N,,"Standing, watching seine netters"
3798,1960,1960,Morning,NICARAGUA,Pacific coast,San Jan del Sur,Survived,N,,Bathing
3799,1960,1960,NaN,GRENADA,St. Georges,Black Point Bay,Toe bitten,N,9,Spearfishing
3800,Early summer 1960,1960,NaN,CARIBBEAN SEA,NaN,"Between Key West, Florida & Guantanamo Bay, Cuba","Questionable. Recovered flight gear was ""compl...",N,,Aircraft crashed into sea
3801,Late 1960s,1960,NaN,SRI LANKA,Eastern Province,Pigeon Island,No injury,N,,Spearfishing
3802,1960s,1960,NaN,SRI LANKA,Eastern Province,"Manayaweli Cove, Trincomalee","No injury, beat off shark with his collecting net",N,,Collecting ornamental fish
3803,1960-1961,1960,NaN,FIJI,Northwest of Viti Levu,"Covull Reef, near Lautoka","Right arm abraded, circular piece of tissue re...",N,,Spearfishing
3804,1960,1960,NaN,PAPUA NEW GUINEA,Madang,NaN,"FATAL, foot severed, hip bitten",Y,16,"Spear fishing, removing fish from spear"
3805,1960,1960,NaN,PAPUA NEW GUINEA,West New Britain Province,"West Nakanai, Talasea",Slight lacerations to leg,N,20,Fishing
3806,Ca. 1960,1960,NaN,MOZAMBIQUE,Gaza,Xai Xai,FATAL,Y,5,Swimming
3807,Ca. 1960,1960,11h00,SOUTH AFRICA,Eastern Cape Province,Kei River Mouth,"Heel lacerated, hand lacerated & abraded",N,,Wading

In [20]:
dFrame.loc[(dFrame['Age']==""), 'Age']=0

dFrame['Age']=dFrame['Age'].astype('int64')
dFrame

,Date,Year,Time,Country,Area,Location,Injury,Deadly,Age,Activity
103,26-Dec-15,2015,Morning,SOUTH AFRICA,KwaZulu-Natal,Westbrook Beach,"No injury, kayak damaged",N,0,Kayak Fishing
104,25-Dec-15,2015,NaN,SPAIN,Grand Canary Island,"Arinaga Beach, Aguimes, Gran Canaria",Lacerations to left forearm,N,38,Swimming
105,22-Dec-15,2015,Morning,USA,Hawaii,La'aloa Beach Park,"No injury, shark bit board",N,71,Paddle boarding
106,21-Dec-15,2015,07h00,AUSTRALIA,New South Wales,Bondi Beach,"No injury, shark leapt on surfboard",N,43,Surfing
107,21-Dec-15,2015,NaN,BRAZIL,Pernambuco,Fernano de Noronha,Right hand & part of forearm removed,N,32,Scuba diving
108,19-Dec-15,2015,NaN,ARUBA,NaN,Boat capsized,FATAL,Y,58,Sea disaster
109,13-Dec-15,2015,10h30,AUSTRALIA,New South Wales,Lake Macquarie,"No injury, shark rammed boat & bit motor",N,0,Fishing
110,11-Dec-15,2015,NaN,BAHAMAS,NaN,Off Andros Island,"Bitten on thigh, abdomen & hand",N,26,Lobster fishing
111,08-Dec-15,2015,Morning,SOUTH AFRICA,Eastern Cape Province,Mpande,Lacerations to both hands and forearms,N,22,Swimming / Wading
112,16-Nov-15,2015,Afternoon,USA,Florida,"Playalinda Beach, Brevard County",Right heel injured,N,0,Surfing
113,15-Nov-15,2015,Morning,USA,Florida,"Palm Beach, Palm Beach County",Leg injured,N,0,Swimming
114,15-Nov-15,2015,NaN,USA,Florida,"Ocean Reef Park, Singer Island, Palm Beach County",Lacerations to hand,N,28,Surfing
115,10-Nov-15,2015,18h15,AUSTRALIA,New South Wales,East Ballina,Injury to left thigh,N,20,Surfing
116,07-Nov-15,2015,11h00,USA,Florida,"Paradise Beach, Melbourne, Brevard County",Lower left leg injured,N,9,Surfing
117,03-Nov-15,2015,11h00,USA,Hawaii,"Kehena Beach, Hawaii",Laceration to right ankle,N,54,Swimming
118,01-Nov-15,2015,14h00,USA,Florida,"Cocoa Beach, Brevard County",Injury to right ankle/calf & hand,N,28,Wading
119,01-Nov-15,2015,04h00,MOZAMBIQUE,Inhambane Province,Maxixe,"Arms severely injured, surgically amputated",N,19,Fishing
120,30-Oct-15,2015,NaN,AUSTRALIA,Western Australia,Bald Island,Minor injury,N,50,Spearfishing
121,28-Oct-15,2015,14h50,USA,Hawaii,"Malaka, Oahu","Lacerations & puncture wounds to right thigh, ...",N,10,Body boarding
122,25-Oct-15,2015,15h00,SOUTH AFRICA,Western Cape Province,Stil Bay,"Lacerations to right calf, knee & hip",N,42,Surfing
123,21-Oct-15,2015,14h30,USA,Florida,"Playalinda Beach, Brevard County",Lacerations to left hand,N,21,Surfing
124,19-Oct-15,2015,13h50,USA,Florida,"Deerfield Beach, Broward County",Left foot bitten,N,21,Surfing
125,17-Oct-15,2015,NaN,MOZAMBIQUE,Inhambane Province,"Nahaduga, Inhambane Bay",FATAL,Y,35,Fishing for shrimp
126,17-Oct-15,2015,19h20,USA,Hawaii,"Waikiki,",Left foot bitten by eel,N,32,Surfing
127,17-Oct-15,2015,11h30,USA,Hawaii,"Lanikai Beach, Kailua, Oahu",Injuries to lower legs,N,44,Swimming
128,13-Oct-15,2015,11h00,USA,California,"Off Leffingwell Landing, San Luis Obispo County","No injury, shark rammed kayak repeatedly",N,0,Kayak Fishing
129,09-Oct-15,2015,16h20,USA,South Carolina,"Shipyard Beach Club, Hilton Head Island, Beauf...",Laceration to forearm,N,9,Boogie boarding
130,09-Oct-15,2015,10h25,USA,Hawaii,"Leftovers, Oahu","Left leg severed below the knee, defense injur...",N,25,Surfing
131,08-Oct-15,2015,NaN,MOZAMBIQUE,Inhambane Province,"Maxixe, Inhambane Bay","Arm severely injured, surgically amputated",N,0,Fishing
132,07-Oct-15,2015,16h50,AUSTRALIA,Western Australia,Pyramids Beach,Foot injured,N,18,Surfing
...,...,...,...,...,...,...,...,...,...,...
3778,Apr-60,1960,NaN,FIJI,Vanua Levu,Off the Bua coast,"FATAL, legs bitten",Y,0,Fishing in shoulder-deep water
3779,Apr-60,1960,NaN,PHILIPPINES,Luzon Island,Bataan,"FATAL, due to drowning PROVOKED INCIDENT",Y,0,"Fishing, hooked shark towed boat out to sea, s..."
3780,Apr-60,1960,NaN,SOUTH AFRICA,Western Cape Province,Saldanha Bay,Shark rammed boat & bit transom,N,0,Fishing
3781,31-Mar-60,1960,12h00,USA,Florida,"Off Boca Raton Hotel & Club, Boca Raton, Palm ...","Ankle bitten, hand injured while striking shark",N,42,Treading water
3782,28-Mar-60,1960,12h00,GUAM,NaN,NaN,Thigh bitten,N,44,"Spearfishing, carrying fish on belt"
3783,29-Feb-60,1960,Night,AUSTRALIA,Tasmania,Ralph Bay,"No injury, Robertson knocked over & Hasler bru...",N,30,"Wading, fishing for flounder"
3784,27-Feb-60,1960,NaN,NEW ZEALAND,North Island,"Mangawhai, near Wellsford","No injury, leg bumped by shark's tail",N,22,Spearfishing
3785,27-Feb-60,1960,08h00,USA,Hawaii,"Between Keawakapu & Makena, Maui",Left forearm lacerated,N,36,Spearfishing
3786,24-Feb-60,1960,NaN,SENEGAL,Casamance,Ziguinchor,Calf bitten by shark caught in net PROVOKED IN...,N,0,Fishing
3787,19-Feb-60,1960,NaN,PAPUA NEW GUINEA,Central Province,"Tupuselei Village, about 40 miles east of Port...","FATAL, legs bitten",Y,26,Spearfishing
3788,10-Feb-60,1960,NaN,AUSTRALIA,New South Wales,Near Bondi Beach,No injury to occupants. Hooked shark rammed bo...,N,0,Shark fishing
3789,07-Feb-60,1960,NaN,AUSTRALIA,New South Wales,Wattamolla National Park,"No injury, speared shark towed Gilles 200 yard...",N,20,Spearfishing
3790,03-Feb-60,1960,02h00,USA,Hawaii,Maui,"Of crew of 4, only 1 person survived (broken l...",Y,0,S2F-1 airplane crashed immediately after carri...
3791,30-Jan-60,1960,NaN,PAPUA NEW GUINEA,Madang (WO),"Off Taludig Village, at mouth of the Murnass R...","Lower left leg bitten, surgically amputated",N,0,NaN
3792,26-Jan-60,1960,NaN,NaN,"Between Timor & Darwin, Australia",NaN,"As searchers approached wreckage, sharks circl...",N,0,Portuguese Airliner with 9 people aboard went ...
3793,21-Jan-60,1960,NaN,AUSTRALIA,South Australia,Millicent,"No injury to occupants, shark lifted boat",N,0,NaN
3794,16-Jan-60,1960,15h30,AUSTRALIA,New South Wales,"Just below Roseville Bridge, opposite Killarne...","FATAL, right leg severed above knee, surgicall...",Y,13,Free diving
3795,13-Jan-60,1960,P.M.,AUSTRALIA,Western Australia,Geraldton,Upper leg bitten PROVOKED INCIDENT,N,0,"Fishing, lifting shark out of craypot"
3796,07-Jan-60,1960,09h00,AUSTRALIA,Tasmania,Eaglehawk Neck,"No injury to occupant, shark rammed boat",N,0,Setting crayfish pots
3797,01-Jan-60,1960,NaN,SOUTH AFRICA,Western Cape Province,Muizenberg,Left leg bitten by shark that escaped net PRO...,N,0,"Standing, watching seine netters"
3798,1960,1960,Morning,NICARAGUA,Pacific coast,San Jan del Sur,Survived,N,0,Bathing
3799,1960,1960,NaN,GRENADA,St. Georges,Black Point Bay,Toe bitten,N,9,Spearfishing
3800,Early summer 1960,1960,NaN,CARIBBEAN SEA,NaN,"Between Key West, Florida & Guantanamo Bay, Cuba","Questionable. Recovered flight gear was ""compl...",N,0,Aircraft crashed into sea
3801,Late 1960s,1960,NaN,SRI LANKA,Eastern Province,Pigeon Island,No injury,N,0,Spearfishing
3802,1960s,1960,NaN,SRI LANKA,Eastern Province,"Manayaweli Cove, Trincomalee","No injury, beat off shark with his collecting net",N,0,Collecting ornamental fish
3803,1960-1961,1960,NaN,FIJI,Northwest of Viti Levu,"Covull Reef, near Lautoka","Right arm abraded, circular piece of tissue re...",N,0,Spearfishing
3804,1960,1960,NaN,PAPUA NEW GUINEA,Madang,NaN,"FATAL, foot severed, hip bitten",Y,16,"Spear fishing, removing fish from spear"
3805,1960,1960,NaN,PAPUA NEW GUINEA,West New Britain Province,"West Nakanai, Talasea",Slight lacerations to leg,N,20,Fishing
3806,Ca. 1960,1960,NaN,MOZAMBIQUE,Gaza,Xai Xai,FATAL,Y,5,Swimming
3807,Ca. 1960,1960,11h00,SOUTH AFRICA,Eastern Cape Province,Kei River Mouth,"Heel lacerated, hand lacerated & abraded",N,0,Wading

In [31]:
media = round(dFrame['Age'][(dFrame['Age']>0)].mean())
media

28

In [33]:
dFrame.loc[(dFrame['Age']==0), 'Age']=media
dFrame.head()

,Date,Year,Time,Country,Area,Location,Injury,Deadly,Age,Activity
103,26-Dec-15,2015,Morning,SOUTH AFRICA,KwaZulu-Natal,Westbrook Beach,"No injury, kayak damaged",N,28,Kayak Fishing
104,25-Dec-15,2015,NaN,SPAIN,Grand Canary Island,"Arinaga Beach, Aguimes, Gran Canaria",Lacerations to left forearm,N,38,Swimming
105,22-Dec-15,2015,Morning,USA,Hawaii,La'aloa Beach Park,"No injury, shark bit board",N,71,Paddle boarding
106,21-Dec-15,2015,07h00,AUSTRALIA,New South Wales,Bondi Beach,"No injury, shark leapt on surfboard",N,43,Surfing
107,21-Dec-15,2015,NaN,BRAZIL,Pernambuco,Fernano de Noronha,Right hand & part of forearm removed,N,32,Scuba diving

In [34]:
dFrame.describe()

              Year          Age
count  3705.000000  3705.000000
mean   1992.865587    27.959514
std      17.462510    11.596295
min    1960.000000     1.000000
25%    1979.000000    20.000000
50%    1998.000000    28.000000
75%    2008.000000    30.000000
max    2015.000000    91.000000

In [ ]:
top3countries = df_est_orden.Country.value_counts().head(3)
top3countries

In [ ]:
countries = top3countries.reset_index()
countries.columns = ['Pais', 'Ataques']
countries

In [ ]:
sns.barplot(countries.Pais, countries.Ataques, palette="Set1")
plt.xticks(rotation=45)
plt.show()

In [ ]:
null_cols = df.isnull().sum()
null_cols[null_cols>0].sort_values(ascending=False)

In [ ]:
df['Year_cleaned'] = df[df['Year']>1960]['Year']
Years_values = df['Year_cleaned'].value_counts().sort_index()

# Investigar .plot de matplotlib
Years_values.plot(title="Shark Attacks per year")

In [ ]:
# La barra es el cambio de linea
df[df['Fatal (Y/N)'].isin(['Y','N'])]["Fatal (Y/N)"].value_counts()\
.plot(kind='bar', title= "Was the attack fatal?",legend = True, color= ['green','red'])